:root {
	--primary-color: #e66428;
	--secondary-color: rgba(128, 128, 128, 0.7);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0e0e0e;
	color: var(--secondary-color);
}

main, div#raws {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

h1 {
	width: -webkit-fill-available;
	max-width: 800px;
}
h1 > a {
	font-size: min(12vw, 48px);
	color: var(--primary-color);
	font-variant: small-caps;
	text-decoration: none;
}

img {
	max-width: 100vw;
	image-rendering: -webkit-optimize-contrast;
}

a#next {
	font-size: min(5vw, 24px);
	margin: 16px 0 0;
	padding: 16px;
	font-weight: 600;
	cursor: pointer;
} a#next:hover {
	text-decoration: underline;
}
