@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lato:wght@700&display=swap');

:root {
	--primary-color: #e66428;
	--primary-color-dark: #c85a1e;
	--secondary-color: #1e1e1e;
}

body {
	background: url(/source/image/artwork/background_w740.jpg) var(--primary-color) 50% no-repeat fixed;
	/* background-size: cover; */
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	font-size: min(14px, 2.5vw);
}
@media screen {
	@media (min-width: 740px), (min-height: 479px) {
		body {
			background-image: url(/source/image/artwork/background_w981.jpg);
		}
	}
	@media (min-width: 981px), (min-height: 635px) {
		body {
			background-image: url(/source/image/artwork/background_w1232.jpg);
		}
	}
	@media (min-width: 1232px), (min-height: 797px) {
		body {
			background-image: url(/source/image/artwork/background_w1400.jpg);
		}
	}
	@media (min-width: 1400px), (min-height: 906px) {
		body {
			background-image: url(/source/image/artwork/background.jpg);
		}
	}
}

/* 1vw = 4.5px */

header {
	background-color: rgba(238 238 238 / 85%);
	padding: min(18px, 4vw);
}

header > nav {
	box-sizing: border-box;
	max-width: min(800px, 92vw);
	margin: 0 auto;
}

header > nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > nav > a.logo {
	display: inline-block;
	padding: min(18px, 4vw) min(36px, 8vw);
	font-size: min(36px, 8vw);
	font-variant: small-caps;
	font-weight: 900;
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
}

header > nav > div > a {
	display: inline-block;
	height: fit-content;
	padding: min(6px, 1vw) min(12px, 3vw);
	text-decoration: none;
	color: var(--primary-color);
	font-size: min(16px, 4vw);
	border: 1px solid var(--primary-color);
}
header > nav > div > a:hover {
	border-color: var(--primary-color-dark);
	color: var(--primary-color-dark);
}

main {
	margin: min(18px, 4vw) 0;
}

main > article {
	background-color: rgba(238 238 238 / 85%);
	box-sizing: border-box;
	max-width: 100vw;
	margin: 0 auto;
	padding-bottom: 4vw;
}

main > footer {
	box-sizing: border-box;
	max-width: 100vw;
	margin: 0 auto;
	padding: min(18px, 4vw);
	background-color: var(--secondary-color);
	color: white;
}

main > footer ul {
	list-style-type: none;
}

main > footer li {
	line-height: 1.5em;
}

main > footer a {
	color: #e7e7e7;
	opacity: 0.8;
	text-decoration: none;
}

main > footer a:hover {
	opacity: 1;
}

main > article > div.content {
	max-width: 800px;
	margin: 0 auto;
	text-align: justify;
	padding: 1px;
}

main > article > a.book {
	box-sizing: border-box;
	display: inline-block;
	max-width: 46vw;
	margin: 2.5vw 0 0 2.5vw;
	font-size: 0;
	text-decoration: none;
}

main > article > a.book > img {
	max-width: 100%;
	image-rendering: -webkit-optimize-contrast;
}

main > article > a.book > div.title {
	display: -webkit-box;
	color: #000000;
	font-weight: 600;
	font-size: min(16px, 3vw);
	border: 1px solid rgb(0 0 0 / 10%);
	border-top: 0;
	line-height: min(72px, 10vw);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 min(36px, 5vw);
	word-break: break-all;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
}

@media (min-width: 800px) {
	main > article {
		max-width: 800px;
		padding-bottom: 18px;
	}
	main > footer {
		max-width: 800px;
	}
	main > article > a.book {
		max-width: 373px;
		margin: 18px 0 0 18px;
	}
}

@media (min-width: 1191px) {
	main > article, main > footer {
		max-width: 1191px;
	}
}

@media (min-width: 1582px) {
	main > article, main > footer {
		max-width: 1582px;
	}
}

/*

	A trier / refaire au propre : 

*/

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: left;
}

h1 {
	margin: 32px 32px 8px 32px;
}

h2 {
	letter-spacing: 1px;
	margin: 16px 48px 12px 48px;
}

h3 {
	letter-spacing: 0.5px;
	margin: 16px 64px 0 64px;
}

div.content p, div.content ul {
	font-family: 'Baloo 2', cursive;
	font-size: 16px;
	margin: 0 64px 24px 64px;
}

div.content li.c {
	list-style: none;
    margin: 0 64px 24px 64px;
}

div.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.name {
	font-family: 'Lato', sans-serif;
    font-size: 35px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 0px 15px;
}
div.syno {
	color: #9b9b9b;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
	font-family: 'Baloo 2', cursive;
    max-width: 50%;
    margin-right: 15px;
}

form {
	padding: 1px;
}

input, textarea {
	display: block;
    margin: 13px;
}